@model WebApplication4.Models.Tables.Patients

<section class="content-header">
    <h1>
        Infirmerie
        <small>Patients</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li>Patients</li>
        <li class="active">Supprimer</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">

        <h2>Suppression de l'élément</h2>

        <h3>Vous êtes sûr de vouloir supprimer cet élément?</h3>
        <div>
            @*<h4>Patients</h4>*@
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @*@Html.DisplayNameFor(model => model.Usines.UsineName)*@
                    @Html.Label("Usine", htmlAttributes: new { @class = "control-label col-md-15" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Usines.UsineName)
                </dd>

                <dt>
                    @*@Html.DisplayNameFor(model => model.MatriculePatients)*@
                    @Html.Label("Matricule du patient", htmlAttributes: new { @class = "control-label col-md-15" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MatriculePatients)
                </dd>

                <dt>
                    @*@Html.DisplayNameFor(model => model.NomPatient)*@
                    @Html.Label("Nom du patient", htmlAttributes: new { @class = "control-label col-md-15" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NomPatient)
                </dd>

                <dt>
                    @*@Html.DisplayNameFor(model => model.PrenomPatient)*@
                    @Html.Label("Prénom du Patient", htmlAttributes: new { @class = "control-label col-md-15" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PrenomPatient)
                </dd>

                <dt>
                    @*@Html.DisplayNameFor(model => model.Gender)*@
                    @Html.Label("Sexe", htmlAttributes: new { @class = "control-label col-md-15" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Gender)
                </dd>

                <dt>
                    @*Html.DisplayNameFor(model => model.PhonePatients)*@
                    @Html.Label("Téléphone", htmlAttributes: new { @class = "control-label col-md-15" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhonePatients)
                </dd>
                <dt>
                    @*Html.DisplayNameFor(model => model.PhonePatients)*@
                    @Html.Label("Date de Naissance", htmlAttributes: new { @class = "control-label col-md-15" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DOB)
                </dd>
                <dt>
                    @*Html.DisplayNameFor(model => model.PhonePatients)*@
                    @Html.Label("Lien de Parenté", htmlAttributes: new { @class = "control-label col-md-15" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Parente)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Supprimer" class="btn btn-danger" /> |
                    @*@Html.ActionLink("Retour", "Index")*@
                    <a href="@Url.Action("Index", "Patients")" class="btn btn-default">
                        <i class="glyphicon glyphicon glyphicon-chevron-left"></i>
                        <span>
                            <strong>Retour</strong>
                        </span>
                    </a>
                </div>
            }
        </div>
        </div></section>