@model WebApplication4.Models.Tables.Patients

<section class="content-header">
    <h1>
        Infirmerie
        <small>Patients</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li>Patients</li>
        <li class="active">Supprimer</li>
    </ol>
</section>

<!-- Main content -->
<div class="container-fluid">
    <section class="content">
        <div class="row">
            <h2>Suppression de l'élément</h2>
            <h3>Vous êtes sûr de vouloir supprimer cet élément?</h3>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Supprimer" class="btn btn-danger" /> |
                    @*@Html.ActionLink("Retour", "Index")*@
                    <a href="@Url.Action("Index", "Patients")" class="btn btn-default">
                        <i class="glyphicon glyphicon glyphicon-chevron-left"></i>
                        <span>
                            <strong>Retour</strong>
                        </span>
                    </a>
                </div>
            }
            <div>
                <hr />
                <table class="table table-striped table-dark">
                    <tr>
                        <td> @Html.Label("Usine", htmlAttributes: new { @class = "control-label col-md-30" })</td>
                        <td> @Html.DisplayFor(model => model.Usines.UsineName)</td>
                        <td> @Html.Label("Matricule du patient", htmlAttributes: new { @class = "control-label col-md-30" })</td>
                        <td> @Html.DisplayFor(model => model.MatriculePatients)</td>
                    </tr>
                    <tr>
                        <td>  @Html.Label("Nom du patient", htmlAttributes: new { @class = "control-label col-md-30" })</td>
                        <td>  @Html.DisplayFor(model => model.NomPatient)</td>
                        <td> @Html.Label("Prénom du Patient", htmlAttributes: new { @class = "control-label col-md-30" })</td>
                        <td> @Html.DisplayFor(model => model.PrenomPatient)</td>
                    </tr>

                    <tr>
                        <td>  @Html.Label("Sexe", htmlAttributes: new { @class = "control-label col-md-30" })</td>
                        <td>   @Html.DisplayFor(model => model.Gender)</td>
                        <td>  @Html.Label("Téléphone", htmlAttributes: new { @class = "control-label col-md-30" })</td>
                        <td>  @Html.DisplayFor(model => model.PhonePatients)</td>
                    </tr>

                    <tr>
                        <td>   @Html.Label("Date de Naissance", htmlAttributes: new { @class = "control-label col-md-30" })</td>
                        <td>  @Html.DisplayFor(model => model.DOB)</td>
                        <td>  @Html.Label("Lien de Parenté", htmlAttributes: new { @class = "control-label col-md-30" })</td>
                        <td>  @Html.DisplayFor(model => model.Parente)</td>
                    </tr>

                    <tr>
                        <td>   @Html.Label("Maladie Chronique", htmlAttributes: new { @class = "control-label col-md-30" })</td>
                        <td> @Html.DisplayFor(model => model.MaladieChronique)</td>
                        <td>   @Html.Label("APCI", htmlAttributes: new { @class = "control-label col-md-30" })</td>
                        <td>   @Html.DisplayFor(model => model.APCI)</td>
                    </tr>
                    <tr>
                        <td>   @Html.Label("Code APCI", htmlAttributes: new { @class = "control-label col-md-30" })</td>
                        <td>   @Html.DisplayFor(model => model.CodeAPCI)</td>
                        <td>
                            @Html.Label("Compléments du dossier", htmlAttributes: new { @class = "control-label col-md-30" })

                        </td>
                        <td>
                            <ul class="list-group">
                                @foreach (var item in Model.FileDetails)
                                {
                                    <li class="list-group-item list-group-item-danger">
                                        @item.FileName
                                        @* <a type="button" class="btn btn-primary" asp-controller="File" asp-action="DownloadFileFromFileSystem" asp-route-id="@file.Id">Download</a>*@
                                        @*<a href="/Patients/Download">Click here to download</a>*@
                                        @Html.ActionLink(" Télécharger", "DownloadFile", new { Name = item.FileName }, new { @class = "btn btn-circle btn-danger glyphicon glyphicon-download navbar-right " })
                                    </li>

                                }
                            </ul>
                        </td>
                    </tr>

                </table>
                
            </div>
        </div>
    </section>
</div>