@model WebApplication4.Models.Tables.Patients
<section class="content-header">
    <h1>
        Infirmerie
        <small>Patients</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li>Patients</li>
        <li class="active">Details</li>
    </ol>
</section>

<!-- Main content -->
<div class="container-fluid">
    <section class="content">
        <div class="row">
            <h2>Informations</h2>
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @*@Html.DisplayNameFor(model => model.Usines.UsineName)*@
                        @Html.Label("Usine", htmlAttributes: new { @class = "control-label col-md-30" })
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Usines.UsineName)
                    </dd>
                    <dt>
                        @*@Html.DisplayNameFor(model => model.MatriculePatients)*@
                        @Html.Label("Matricule du patient", htmlAttributes: new { @class = "control-label col-md-30" })
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.MatriculePatients)
                    </dd>
                    <dt>
                        @*@Html.DisplayNameFor(model => model.NomPatient)*@
                        @Html.Label("Nom du patient", htmlAttributes: new { @class = "control-label col-md-30" })
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NomPatient)
                    </dd>
                    <dt>
                        @*@Html.DisplayNameFor(model => model.PrenomPatient)*@
                        @Html.Label("Prénom du Patient", htmlAttributes: new { @class = "control-label col-md-30" })
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PrenomPatient)
                    </dd>
                    <dt>
                        @*@Html.DisplayNameFor(model => model.Gender)*@
                        @Html.Label("Sexe", htmlAttributes: new { @class = "control-label col-md-30" })
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Gender)
                    </dd>
                    <dt>
                        @*Html.DisplayNameFor(model => model.PhonePatients)*@
                        @Html.Label("Téléphone", htmlAttributes: new { @class = "control-label col-md-30" })
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PhonePatients)
                    </dd>
                    <dt>
                        @*Html.DisplayNameFor(model => model.PhonePatients)*@
                        @Html.Label("Date de Naissance", htmlAttributes: new { @class = "control-label col-md-30" })
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DOB)
                    </dd>
                    <dt>
                        @*Html.DisplayNameFor(model => model.PhonePatients)*@
                        @Html.Label("Lien de Parenté", htmlAttributes: new { @class = "control-label col-md-30" })
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Parente)
                    </dd>
                    <dt>
                        @*@Html.DisplayNameFor(model => model.FileDetails)*@
                        @Html.Label("Compléments du dossier", htmlAttributes: new { @class = "control-label col-md-30" })
                    </dt>
                    <dd>
                        <ul class="attachment">
                            @foreach (var item in Model.FileDetails)
                            {
                                <li>
                                    <a class="title" href="/Patients/Download/?p=@(item.Id + item.Extension)&d=@item.FileName">@item.FileName</a>
                                </li>

                            }
                        </ul>
                    </dd>

                </dl>
            </div>
            <p>
                @*@Html.ActionLink("Modifier", "Edit", new { id = Model.IdPatients })*@
                <a href="@Url.Action("Edit", "Patients",new { id = Model.IdPatients })" class="btn btn-warning">
                    <i class="glyphicon glyphicon-pencil"></i>
                    <span>
                        <strong></strong>
                    </span>
                </a>
                |
                <a href="@Url.Action("Index", "Patients")" class="btn btn-default">
                    <i class="glyphicon glyphicon glyphicon-chevron-left"></i>
                    <span>
                        <strong>Retour</strong>
                    </span>
                </a>
                @*@Html.ActionLink("Rendez-vous", "Appointements", new { id = Model.IdPatients })*@
            </p>
        </div>
    </section>
</div>