@model WebApplication4.Models.Tables.Patients
<section class="content-header">
    <h1>
        Infirmerie
        <small>Patients</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li>Patients</li>
        <li class="active">Editer</li>
    </ol>
</section>

<!-- Main content -->
<div class="container-fluid">
    <section class="content">
        <div class="row">

            <h2>Modifier l'élément</h2>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.HiddenFor(model => model.IdPatients)
                        @Html.Label("Matricule du patient", htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.MatriculePatients, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MatriculePatients, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.Label("Nom de patient", htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.NomPatient, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NomPatient, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.Label("Prénom du patient", htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.PrenomPatient, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PrenomPatient, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.Label("Sexe", htmlAttributes: new { @class = "control-label " })
                        <div class="editor-field">
                            @Html.DropDownList("Gender", new List<SelectListItem>
                               {
                                   new SelectListItem{ Text="Masculin", Value="Masculin"},
                                   new SelectListItem{ Text="Feminin", Value="Féminin"}
                               }, "--- Séléctionner un element ---", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.Label("Téléphone", htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.PhonePatients, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PhonePatients, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.Label("Date de naissance", htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.Label("Lien de parenté", htmlAttributes: new { @class = "control-label" })
                        <div class="editor-field">
                            @Html.DropDownList("Parente", new List<SelectListItem>
                               {
                                   new SelectListItem{ Text="Ascendant", Value="Ascendant"},
                                   new SelectListItem{ Text="Descendant", Value="Descendant"},

                               }, "--- Séléctionner un element ---", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.Label("Maladie Chronique", htmlAttributes: new { @class = "control-label " })
                        Oui
                        @Html.RadioButtonFor(model => model.MaladieChronique, "Oui")
                        Non
                        @Html.RadioButtonFor(model => model.MaladieChronique, "Non")
                    </div>
                </div>
                <div class="form-row">

                    <div class="form-group col-md-6">
                        @Html.Label("APCI", htmlAttributes: new { @class = "control-label " })
                        Oui
                        @Html.RadioButtonFor(model => model.APCI, "Oui", new { id = "btn_clickYes" })
                        Non
                        @Html.RadioButtonFor(model => model.APCI, "Non", new { id = "btn_clickNo" })

                        <script type="text/javascript">

                            $('#btn_clickYes').click(function () {
                                if ($("#btn_clickYes").is(":checked")) {
                                    document.getElementById("APCIcode").disabled = false;

                                }

                            });

                            


                        </script>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.Label("Code APCI", htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.CodeAPCI, new { htmlAttributes = new { @class = "form-control", id = "APCIcode", disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.CodeAPCI, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-row">

                    <div class="form-group col-md-6">
                        @Html.Label("Usine", htmlAttributes: new { @class = "control-label " })
                        @Html.DropDownList("IdUsine", null, htmlAttributes: new { @class = "form-control", @id = "Usine" })
                        @Html.ValidationMessageFor(model => model.IdUsine, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.Label("Dossier du patient", htmlAttributes: new { @class = "control-label " })
                        <input type="file" name="file" multiple="multiple" />
                        @Html.ValidationMessageFor(model => model.IdUsine, "", new { @class = "text-danger" })

                        <ul class="list-group">
                            @foreach (var item in Model.FileDetails)
                            {
                            <li class="list-group-item list-group-item-danger">
                                @item.FileName
                                @* <a type="button" class="btn btn-primary" asp-controller="File" asp-action="DownloadFileFromFileSystem" asp-route-id="@file.Id">Download</a>*@
                                @*<a href="/Patients/Download">Click here to download</a>*@
                                @Html.ActionLink(" Télécharger", "DownloadFile", new { Name = item.FileName}, new { @class = "btn btn-circle btn-danger glyphicon glyphicon-download navbar-right "}) </li>

                            }
                        </ul>
                        @Html.ValidationMessageFor(model => model.IdUsine, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-row">

                    <div class="form-group col-md-6">
                        <input type="submit" value="Modifier" class="btn btn-warning" />|   @*@Html.ActionLink("Retour", "Index")*@
                        <a href="@Url.Action("Index", "Patients")" class="btn btn-default">
                            <i class="glyphicon glyphicon glyphicon-chevron-left"></i>
                            <span>
                                <strong>Retour</strong>
                            </span>
                        </a>
                    </div>
                </div>

            </form>
            }
            @*<div>
            @Html.ActionLink("Retour", "Index")
        </div>*@
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
                <script>
        $(function () {


                       $("#Usine").chosen();
        });

                </script>
            }
        </div>
    </section>
</div>