@model PagedList.IPagedList<WebApplication4.Models.Tables.Patients>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h2>Index</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Patients", FormMethod.Post))
{
    <div>
        @Html.Label("Recherche:")
        @Html.TextBox("searching")
        <input id="submit" type="submit" value="Rechercher" />
    </div>
}
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Usines.UsineName)*@
            @Html.ActionLink("Usine", "Index", new { order = ViewBag.UsineNameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.First().MatriculePatients)*@
            @Html.Label("Matricule du patient", htmlAttributes: new { @class = "control-label col-md-9" })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.NomPatient)*@
            @Html.ActionLink("Nom Patient", "Index", new { order = ViewBag.LastNameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.PrenomPatient)*@
            @Html.ActionLink("Prenom Patient", "Index", new { order = ViewBag.FirstNameSortParm, currentFilter = ViewBag.CurrentFilter })

        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.First().Gender)*@
            @Html.Label("Sexe", htmlAttributes: new { @class = "control-label col-md-2" })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.First().PhonePatients)*@
            @Html.Label("Téléphone", htmlAttributes: new { @class = "control-label col-md-2" })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usines.UsineName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatriculePatients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomPatient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrenomPatient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhonePatients)
            </td>
            <td>
                @if (item.FileDetails.Count() == 0)
                {
                    <span>No File</span>
                }
                else
                {
                    <span>@item.FileDetails.Count() File(s)</span>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdPatients }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdPatients }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdPatients })
            </td>
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) sur @Model.PageCount
@Html.PagedListPager(Model, Page_No =>Url.Action("Index",
    new { Page_No, Sorting_Order= ViewBag.CurrentSortOrder, Filter_Value = ViewBag.FilterValue }))
