@model IEnumerable<WebApplication4.Models.Tables.AppointementModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h2>Index</h2>
@using (Html.BeginForm("Index", "AppointementModels", FormMethod.Get))
{
    @Html.TextBox("searching")
    @Html.TextBox("nom")
    @Html.TextBox("prenom")
    <input type="submit" value="submit" />
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table id="table_id" class="display">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUser.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doctor.specialite.SpecialiteName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idDoctors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient.MatriculePatients)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient.NomPatient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient.PrenomPatient)
        </th>




        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.specialite.SpecialiteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.nameDoctors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.MatriculePatients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.NomPatient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.PrenomPatient)
            </td>


            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AppointmentID }) |
                @Html.ActionLink("Details", "Details", new { id = item.AppointmentID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AppointmentID })
            </td>
        </tr>
    }

</table>
