@model PagedList.IPagedList<WebApplication4.Models.Tables.AppointementModel>
@using PagedList.Mvc;





@*<p>
        @Html.ActionLink("Créer un rendez-vous", "Create")
    </p>*@
<section class="content-header">
    <h1>
        Infirmerie
        <small>Rendez-vous avec les médecins conventionnés</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li class="active">Rendez-vous</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-sm-2">
            <p>
                @*@Html.ActionLink("Créer un rendez-vous", "Create")*@
                <a href="@Url.Action("Create", "AppointementModels")" class="btn btn-success">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>
                        <strong>Nouveau rendez-vous</strong>
                    </span>
                </a>
            </p>
        </div>
        <div class="col-sm-8">
            @using (Html.BeginForm("Index", "AppointementModels", FormMethod.Get))
            {

                @Html.Label("Nom du Patient", htmlAttributes: new { @class = "control-label col-2" })

                @Html.TextBox("searching")

                @Html.Label("Prénom du patient", htmlAttributes: new { @class = "control-label col-2" })
                @Html.TextBox("prenom")




                <button type="submit" value="" class="btn btn-warning glyphicon glyphicon-search "></button>

            }
        </div>
    </div>









    <table id="table_id" class="table">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Date)*@
                @*@Html.Label("Date du rendez-vous", htmlAttributes: new { @class = "control-label col-md-15" })*@
                @Html.ActionLink("Date du rendez-vous", "Index", new { order = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })

            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ApplicationUser.UserName)*@
                @Html.Label("Administrateur", htmlAttributes: new { @class = "control-label col-md-15" })
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Doctor.specialite.SpecialiteName)*@
                @Html.Label("Spécialité", htmlAttributes: new { @class = "control-label col-md-15" })
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.idDoctors)*@
                @Html.Label("Médecin", htmlAttributes: new { @class = "control-label col-md-15" })
            </th>

            <th>
                @*@Html.DisplayNameFor(model => model.Time)*@
                @Html.Label("Heure du rendez-vous", htmlAttributes: new { @class = "control-label col-md-15" })
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Patient.MatriculePatients)*@
                @Html.Label("Matricule du patient", htmlAttributes: new { @class = "control-label col-md-15" })
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Patient.NomPatient)*@
                @Html.Label("Nom du patient", htmlAttributes: new { @class = "control-label col-md-15" })
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Patient.PrenomPatient)*@
                @Html.Label("Prénom du patient", htmlAttributes: new { @class = "control-label col-md-15" })
            </th>




            <th>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.specialite.SpecialiteName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.nameDoctors)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.MatriculePatients)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.NomPatient)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.PrenomPatient)
                </td>


                <td>
                    @*@Html.ActionLink("Modifier", "Edit", new { id = item.AppointmentID },htmlAttributes: new { @class = "glyphicon glyphicon-pencil btn btn-primary" })
                        @Html.ActionLink(" Details", "Details", new { id = item.AppointmentID }, htmlAttributes: new { @class = "glyphicon glyphicon-info-sign btn btn-info" })
                        @Html.ActionLink(" Supprimer", "Delete", new { id = item.AppointmentID }, htmlAttributes: new { @class = "glyphicon glyphicon-trash btn btn-danger" })*@
                    <a href="@Url.Action("Edit", "AppointementModels",new { id = item.AppointmentID })" class="btn btn-warning">
                        <i class="glyphicon glyphicon-pencil"></i>
                        <span>
                            <strong></strong>
                        </span>
                    </a>
                    <a href="@Url.Action("Details", "AppointementModels",new { id = item.AppointmentID })" class="btn btn-info">
                        <i class="glyphicon glyphicon-info-sign"></i>
                        <span>
                            <strong></strong>
                        </span>
                    </a>

                    <a href="@Url.Action("Delete", "AppointementModels",new { id = item.AppointmentID })" class="btn btn-danger">
                        <i class="glyphicon glyphicon-trash"></i>
                        <span>
                            <strong></strong>
                        </span>
                    </a>
                </td>
            </tr>
        }

    </table>
    <div class="pagination">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        sur @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>



    </section>