@model WebApplication4.Models.Tables.Medicine.ProductPurchase
<section class="content-header">
    <h1>
        Infirmerie
        <small>Gestion des médicaments</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li>Médicaments</li>
        <li class="active">Supprimer</li>
    </ol>
</section>
<!-- Main content -->
<div class="container-fluid">
    <section class="content">
        <div class="row">
            <h2>Suppression de l'élément</h2>
            <h3>Vous êtes sûr de supprimer cet élément?</h3>
            <div>
                @*<h4>Specialite</h4>*@
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayName("Médicament :")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.product.pro_name)
                    </dd>


                    <dt>
                        @Html.DisplayName("Quantité :")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PurchaseQuantity)
                    </dd>

                    <dt>
                        @Html.DisplayName("Date d'achat")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PurchaseDate)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
                        @*@Html.ActionLink("Retour", "Index")*@
                        <a href="@Url.Action("Index", "ProductPurchases")" class="btn btn-default">
                            <i class="glyphicon glyphicon glyphicon-chevron-left"></i>
                            <span>
                                <strong>Retour</strong>
                            </span>
                        </a>
                    </div>
                }
            </div>
            </div>
        </section>
    </div>
