@model WebApplication4.Models.Tables.Medicaments

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Medicaments</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.specialite.SpecialiteName)*@
            @Html.Label("Spécialité", htmlAttributes: new { @class = "control-label col-md-25" })
        </dt>
        <dd>
            @Html.DisplayFor(model => model.specialite.SpecialiteName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModeEmploi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModeEmploi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MedImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedImage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MedID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
