@model IEnumerable<WebApplication4.Models.Tables.Usine>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UsineName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UsineName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdUsine }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdUsine }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdUsine })
        </td>
    </tr>
}

</table>
