@model WebApplication4.Models.Tables.MedecinConventionne
<section class="content-header">
    <h1>
        Infirmerie
        <small>Medecins Conventionnés</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li>Patients</li>
        <li class="active">Supprimer</li>
    </ol>
</section>

<!-- Main content -->
<div class="container-fluid">
    <section class="content">
        <div class="row">
            
            <h2>Supression de l'élément</h2>
            <h3>Vous êtes sur de vouloir supprimer cet élément ?</h3>
            <div>
                <hr />
                <table class="table table-striped table-dark">
                    <tr>
                        <td>  @Html.Label("Spécialité", htmlAttributes: new { @class = "control-label col-md-25" })</td>
                        <td> @Html.DisplayFor(model => model.specialite.SpecialiteName)</td>
                        <td> @Html.Label("Nom du médecin", htmlAttributes: new { @class = "control-label col-md-25" })</td>
                        <td>  @Html.DisplayFor(model => model.nameDoctors)</td>
                    </tr>
                    <tr>
                        <td>  @Html.Label("Messagerie électronique", htmlAttributes: new { @class = "control-label col-md-25" })</td>
                        <td>  @Html.DisplayFor(model => model.emailDoctors)</td>
                        <td> @Html.Label("Téléphone", htmlAttributes: new { @class = "control-label col-md-25" })</td>
                        <td>  @Html.DisplayFor(model => model.phoneDoctors)</td>
                    </tr>

                    <tr>
                        <td>  @Html.Label("Jour de travail 1", htmlAttributes: new { @class = "control-label col-md-25" })</td>
                        <td>  @Html.DisplayFor(model => model.JourTravail1)</td>
                        <td>  @Html.Label("Heure de travail 1", htmlAttributes: new { @class = "control-label col-md-25" })</td>
                        <td>  @Html.DisplayFor(model => model.TimeTravail1)</td>
                    </tr>

                    <tr>
                        <td>   @Html.Label("Jour de travail 2", htmlAttributes: new { @class = "control-label col-md-25" })</td>
                        <td>  @Html.DisplayFor(model => model.JourTravail2)</td>
                        <td>  @Html.Label("Heure de travail 2", htmlAttributes: new { @class = "control-label col-md-25" })</td>
                        <td>   @Html.DisplayFor(model => model.TimeTravail2)</td>
                    </tr>




                </table>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
                        <a href="@Url.Action("Index", "MedecinConventionnes")" class="btn btn-default">
                            <i class="glyphicon glyphicon glyphicon-chevron-left"></i>
                            <span>
                                <strong>Retour</strong>
                            </span>
                        </a>
                    </div>
                }
            </div>
        </div>
    </section>
</div>