@model WebApplication4.Models.Tables.MedecinConventionne
<section class="content-header">
    <h1>
        Infirmerie
        <small>Medecins Conventionnés</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li>Medecins Conventionnés</li>
        <li class="active">Editer</li>
    </ol>
</section>

<!-- Main content -->
<div class="container-fluid">
    <section class="content">
        <div class="row">
            <h2>Modifier l'élément</h2>
            @using (Html.BeginForm("Edit", "MedecinConventionnes", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="alert alert-danger" id="error-div" style="display:none">
                    <span id="view-err">
                    </span>
                </div>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.idDoctors)

                <div class="form-group">
                    @*@Html.LabelFor(model => model.nameDoctors, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    @Html.Label("Nom du médecin", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.nameDoctors, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.nameDoctors, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(model => model.emailDoctors, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    @Html.Label("Messagerie électronique", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.emailDoctors, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.emailDoctors, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(model => model.phoneDoctors, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    @Html.Label("Téléphone", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.phoneDoctors, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.phoneDoctors, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(model => model.phoneDoctors, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    @Html.Label("Jour et Heure de travail 1 ", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.JourHeureTravail1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.JourHeureTravail1, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @*@Html.LabelFor(model => model.phoneDoctors, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    @Html.Label("Jour et Heure de travail 2 ", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.JourHeureTravail2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.JourHeureTravail2, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @*@Html.LabelFor(model => model.IdSpecialite, "IdSpecialite", htmlAttributes: new { @class = "control-label col-md-2" })*@
                    @Html.Label("Spécialité", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("IdSpecialite", null, htmlAttributes: new { @class = "form-control", @id = "Specialite" })
                        @Html.ValidationMessageFor(model => model.idSpecialite, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Modifier" class="btn btn-warning" id="save" />|   @*@Html.ActionLink("Retour", "Index")*@
                        <a href="@Url.Action("Index", "MedecinConventionnes")" class="btn btn-default">
                            <i class="glyphicon glyphicon glyphicon-chevron-left"></i>
                            <span>
                                <strong>Retour</strong>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            }
            @*<div>
            @Html.ActionLink("Retour", "Index")
        </div>*@

            @section scripts{
                <script>
                    $(function () {
                        $("#save").click(function () {
                            /*if ($("#picDoctors").val() == "") {
                                $("#error-div").fadeIn();
                                $("#view-err").append("Veuillez choisir une image");
                                return false;*/
                            /*if ($("#picDoctors").val() == "") {
                                $("#error-div").fadeIn();
                                $("#view-err").append("Veuillez choisir une image");
                                return false;

                            }*/
                            if ($("#picDoctors").val() != "") {


                                var filename = document.getElementById("picDoctors").value;
                                var fileExtension = filename.substr(filename.lastIndexOf('.') + 1);
                                var validExtension = ['jpg', 'gif', 'png', 'bmp'];
                                if ($.inArray(fileExtension, validExtension) == -1) {
                                    $("#error-div").fadeIn();
                                    $("#view-err").append("Veuillez choisir une image avec les extensions suivantes ['jpg', 'gif', 'png', 'bmp']");
                                    return false;

                                }

                                var fileSize = document.getElementById("picDoctors").files[0].size / 1024 / 1024;
                                if (fileSize > 1) {
                                    $("#error-div").fadeIn();
                                    $("#view-err").append("Veuillez choisir une image avec une taille de 2 Méga");
                                    return false;

                                }
                            }
                        });
                    });
                </script>
                <script>
                    $(function () {

                        $("#Specialite").chosen();
                    });
                </script>
            }
        </div>
    </section>
</div>