@model WebApplication4.Models.Tables.MedecinConventionne
<section class="content-header">
    <h1>
        Infirmerie
        <small>Medecins Conventionnés</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li>Medecins Conventionnés</li>
        <li class="active">Editer</li>
    </ol>
</section>

<!-- Main content -->
<div class="container-fluid">
    <section class="content">
        <div class="row">
            <h2>Modifier l'élément</h2>
            @using (Html.BeginForm("Edit", "MedecinConventionnes", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <form>
                    <div class="alert alert-danger" id="error-div" style="display:none">
                        <span id="view-err">
                        </span>
                    </div>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.idDoctors)

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            @Html.Label("Nom du médecin", htmlAttributes: new { @class = "control-label " })

                            @Html.EditorFor(model => model.nameDoctors, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.nameDoctors, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.Label("Messagerie électronique", htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.emailDoctors, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.emailDoctors, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            @Html.Label("Téléphone", htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.phoneDoctors, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.phoneDoctors, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.Label("Spécialité", htmlAttributes: new { @class = "control-label " })
                            @Html.DropDownList("IdSpecialite", null, htmlAttributes: new { @class = "form-control", @id = "Specialite" })
                            @Html.ValidationMessageFor(model => model.idSpecialite, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            @Html.Label("Jour de Travail 1", htmlAttributes: new { @class = "control-label " })
                            <div class="editor-field">
                                @Html.DropDownList("JourTravail1", new List<SelectListItem>
                                   {
                                       new SelectListItem{ Text="Lundi", Value="Lundi"},
                                       new SelectListItem{ Text="Mardi", Value="Mardi"},
                                       new SelectListItem{ Text="Mercredi", Value="Mercredi"},
                                       new SelectListItem{ Text="Jeudi", Value="Jeudi"},
                                       new SelectListItem{ Text="Vendredi", Value="Vendredi"},
                                       new SelectListItem{ Text="Samedi", Value="Samedi"}
                                   }, "--- Séléctionner un jour ---", new { @class = "form-control" })
                            </div>
                            @Html.ValidationMessageFor(model => model.JourTravail1, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.Label("Heure de travail 1", htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.TimeTravail1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TimeTravail1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            @Html.Label("Jour de Travail 2", htmlAttributes: new { @class = "control-label " })
                            <div class="editor-field">
                                @Html.DropDownList("JourTravail2", new List<SelectListItem>
                                   {
                                       new SelectListItem{ Text="Lundi", Value="Lundi"},
                                       new SelectListItem{ Text="Mardi", Value="Mardi"},
                                       new SelectListItem{ Text="Mercredi", Value="Mercredi"},
                                       new SelectListItem{ Text="Jeudi", Value="Jeudi"},
                                       new SelectListItem{ Text="Vendredi", Value="Vendredi"},
                                       new SelectListItem{ Text="Samedi", Value="Samedi"}
                                   }, "--- Séléctionner un jour ---", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            @Html.Label("Heure de travail 2", htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.TimeTravail2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TimeTravail2, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Modifier" class="btn btn-warning" id="save" />|   @*@Html.ActionLink("Retour", "Index")*@
                            <a href="@Url.Action("Index", "MedecinConventionnes")" class="btn btn-default">
                                <i class="glyphicon glyphicon glyphicon-chevron-left"></i>
                                <span>
                                    <strong>Retour</strong>
                                </span>
                            </a>
                        </div>
                    </div>
                </form>
            }
            @*<div>
                @Html.ActionLink("Retour", "Index")
            </div>*@

            @section scripts{
                <script>
                    $(function () {
                        $("#save").click(function () {
                            /*if ($("#picDoctors").val() == "") {
                                $("#error-div").fadeIn();
                                $("#view-err").append("Veuillez choisir une image");
                                return false;*/
                            /*if ($("#picDoctors").val() == "") {
                                $("#error-div").fadeIn();
                                $("#view-err").append("Veuillez choisir une image");
                                return false;

                            }*/
                            if ($("#picDoctors").val() != "") {


                                var filename = document.getElementById("picDoctors").value;
                                var fileExtension = filename.substr(filename.lastIndexOf('.') + 1);
                                var validExtension = ['jpg', 'gif', 'png', 'bmp'];
                                if ($.inArray(fileExtension, validExtension) == -1) {
                                    $("#error-div").fadeIn();
                                    $("#view-err").append("Veuillez choisir une image avec les extensions suivantes ['jpg', 'gif', 'png', 'bmp']");
                                    return false;

                                }

                                var fileSize = document.getElementById("picDoctors").files[0].size / 1024 / 1024;
                                if (fileSize > 1) {
                                    $("#error-div").fadeIn();
                                    $("#view-err").append("Veuillez choisir une image avec une taille de 2 Méga");
                                    return false;

                                }
                            }
                        });
                    });
                </script>
                <script>
                    $(function () {

                        $("#Specialite").chosen();
                    });
                </script>
            }
        </div>
    </section>
</div>