@model PagedList.IPagedList<WebApplication4.Models.Tables.MedecinConventionne>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@*<h2>Index</h2>*@


<p>
    @Html.ActionLink("Créer un nouveau Médecin Conventionné", "Create")
</p>

@using (Html.BeginForm("Index", "MedecinConventionnes", FormMethod.Post))
{
    <div>
        @Html.Label("Recherche:")
        @Html.TextBox("searching")
        <input id="submit" type="submit" value="Rechercher" />
    </div>
}
<table class="table table-striped table-bordered table-hover" style="color:black; background-color:white">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.specialite.SpecialiteName)*@
            @Html.ActionLink("Specialite", "Index", new { order = ViewBag.specialiteNameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.nameDoctors)*@
            @Html.ActionLink("Nom et Prenom du medecin", "Index", new { order = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @*Html.DisplayNameFor(model => model.First().emailDoctors)*@
            @Html.Label("Messagerie électronique", htmlAttributes: new { @class = "control-label col-12" })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.First().phoneDoctors)*@
            @Html.Label("Téléphone", htmlAttributes: new { @class = "control-label col-12" })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.First().picDoctor)*@
            @Html.Label("Photo du Médecin", htmlAttributes: new { @class = "control-label col-12" })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.specialite.SpecialiteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nameDoctors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailDoctors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneDoctors)
            </td>
            <td>
                <img src="~/Uploads/@Html.DisplayFor(modelItem=> item.picDoctor)" class="thumbnail" style="width:100px; height:100px" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.idDoctors }) |
                @Html.ActionLink("Details", "Details", new { id = item.idDoctors }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idDoctors })
            </td>
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) sur @Model.PageCount
@Html.PagedListPager(Model, Page_No =>Url.Action("Index",
    new { Page_No, Sorting_Order= ViewBag.CurrentSortOrder, Filter_Value = ViewBag.FilterValue }))

