@model WebApplication4.Models.Tables.Medicine.tbl_order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.o_fk_pro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.o_fk_pro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.o_fk_invoice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.o_fk_invoice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.o_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.o_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.o_qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.o_qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.o_bill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.o_bill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.o_unitprice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.o_unitprice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.o_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
