@model PagedList.IPagedList<WebApplication4.Models.Tables.ShopCart.Product>

@using PagedList.Mvc
@{
    ViewBag.Title = "ProductPartial";
    Layout = "~/Views/Shared/adminlte/_mainLayout.cshtml";
}

<section class="content-header">
    <h1>
        Infirmerie
        <small>Nouvelle ordonnance - Liste des medicaments</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li class="active">Nouvelle Ordonnance</li>
    </ol>
</section>

<section class="content">
    @{
        <div class="row">
            <div class="col-sm-4" style="padding-bottom:10px">

                @using (Html.BeginForm("ProductPartial", "Medicaments", FormMethod.Post))
                {
                    <div>
                        @Html.Label("Nom du medicament:")
                        @Html.TextBox("searching")
                        @*<input id="submit" type="submit" value="Rechercher" />*@
                        <button type="submit" value="" class="btn btn-warning glyphicon glyphicon-search " />
                    </div>
                }
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-xs-6 ">
                    <!-- small box -->
                    <div class="small-box">
                        <div class="inner">
                           <div class="content-title" style="font-family:'Agency FB'; font-size:14px; font-weight:bold;  text-align:center">

                                @item.NameProduct
                            </div>
                        </div>

                        @*<a href="@Url.Action("Index", "MedecinConventionnes")" class="small-box-footer">Plus d'informations<i class="fa fa-arrow-circle-right"></i></a>*@
                        <div style="text-align:center">
                            <a href="@Url.Action("OrderNow", "ShoppingCart", new { id = item.ProductID})" class="btn btn-danger">
                                <i class="fa fa-arrow-circle-right"></i>
                                <span>
                                    <strong> Ajouter à la liste </strong>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            }
            </div>

    }
   

    <div class="clear"></div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount

    <div style="display:inline; padding:3px">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>
</section>
