@model IEnumerable<WebApplication4.Models.Tables.Medicine.tbl_product>

@{
    ViewBag.Title = "Catalogue de medicaments";
}


<h2>Catalogue de medicaments</h2>

<div class="row">
    <div class="col-lg-10 col-md-10 col-sm-10">
        @if (TempData["total"] == null)
        {

            <h4>
                Nombre de produits: 0
            </h4>
        }
        else
        {
            <h4>Nombre de produits: @TempData["total"] </h4>
        }

    </div>


    <div class="col-lg-2 col-md-2 col-sm-2">
        <h3 style="color:#808080; font-family:'Arial Rounded MT';text-align:center"> <span class="btn btn-info">@Html.ActionLink("Check Out", "checkout", "Medicine")</span></h3>
    </div>




</div>

<div class="row" style="margin-bottom:100px;">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-4" style="height:200px;margin-top:100px">

                <img class="img img-responsive cimg" src="@Url.Content(item.pro_image)" style=" height:100%;width:100% ;border-radius:50px 50px 50px 50px" />
                <h3 style="color:#808080; font-family:'Arial Rounded MT';text-align:center">@item.pro_name <small>@item.Quantity produits</small></h3>
                <h4 style="color:#808080; font-family:'Arial Rounded MT';text-align:center"> <span class="btn btn-danger">@Html.ActionLink("Add To Cart", "AddToCart", new { id = @item.pro_id })</span></h4>

            </div>

        }
    }
</div>