@model IEnumerable<WebApplication4.Models.Tables.Medicaments>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.specialite.SpecialiteName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModeEmploi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.specialite.SpecialiteName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModeEmploi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MedID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MedID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MedID })
        </td>
    </tr>
}

</table>
