@using WebApplication4.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MedicamentsLayout/adminLayout.cshtml";
}

<h2>Index</h2>
@{
    if (Session["Cart"] != null)
    {
        using (Html.BeginForm("UpdateCart", "ShoppingCart", FormMethod.Post))
        {
            <table border="1">
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    @*<th>SubTotal</th>*@
                </tr>
                @foreach (var cart in (List<WebApplication4.Models.Tables.ShopCart.Cart>)Session["Cart"])
                {
                    <tr>
                        <td>@*@cart.Product.ProductName*@
                        @Html.ActionLink(cart.Product.ProductName,"Details"
                            ,"Medicaments", new { id=cart.Product.ProductID},null)
                        
                        </td>
                        <td>
                            @*@cart.Quantity*@
                            <input type="text" name="quantity" id="quantity" value="@cart.Quantity" />
                            <span id="errmsg" style="color:red"></span>
                        </td>
                        @*<td>@(String.Format("{0}", cart.Quantity))</td>*@
                        <td>
                            @Html.ActionLink("Delete", "Delete", "ShoppingCart",
        new { id = cart.Product.ProductID },
        new { onclick = "return confirm ('Are you sure you want to delete this ?');" })
                        </td>

                    </tr>

                }

                <tr>
                    <td>
                        Total :
                    </td>
                    <td>
                        @{
                            List<WebApplication4.Models.Tables.ShopCart.Cart> temp = (List<WebApplication4.Models.Tables.ShopCart.Cart>)Session["Cart"];
                            var total = String.Format("{0}", temp.Sum(x => x.Quantity));
                        }
                        @total
                    </td>
                </tr>
            </table>
            <br />

            @Html.ActionLink("Continue shopping ? ", "ProductIndex", "Medicaments");
            <input type="submit" value="Update Cart" />
        }
    }
    else
    {
        <h4>No items in your cart !!</h4>
    }

}

<script>
    $(document).ready(function () {
        $("#quantity").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                $("#errmsg").html("Prière d'introduire des chiffres").show().fadeOut("slow")
                return false;
            }
        });
    });
</script>