@model WebApplication4.Models.Tables.Consultation

<section class="content-header">
    <h1>
        Infirmerie
        <small>Les consultations</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li>Consultations</li>
        <li class="active">Créer</li>
    </ol>
</section>

<!-- Main content -->
<div class="container-fluid">
    <section class="content">
        <div class="row">
            <h2>Nouvelle Consultation</h2>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

           
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.DateCreated, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        @Html.Label("Date de consultation", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DateCreated, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DateCreated, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.idPatients, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        @Html.Label("Patient", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @*@Html.EditorFor(model => model.IdPatients, new { htmlAttributes = new { @class = "form-control" } })*@
                            @Html.DropDownList("idPatients", null, htmlAttributes: new { @class = "form-control", @id = "Patients" })
                            @Html.ValidationMessageFor(model => model.idPatients, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        @Html.Label("Nautre de la visite", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @*@Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })*@
                            <div class="editor-field">
                                @Html.DropDownList("natureVisite", new List<SelectListItem>
                                   {
                                       new SelectListItem{ Text="Visite d'embauche", Value="Visite d'embauche"},
                                       new SelectListItem{ Text="Visite Périodique", Value="Visite Périodique"},
                                       new SelectListItem{ Text="Visite de reprise du travail", Value="Visite de reprise du travail"},
                                       new SelectListItem{ Text="Visite Spontannée", Value="Visite spontannée"},

                                   }, "--- Séléctionner un élément ---", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @*Html.LabelFor(model => model.diagnostic, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        @Html.Label("Diagnostic", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.diagnostic, 5, 50, new { htmlAttributes = new { style = " width:100%, max-width:100%", @id = "diagnostic" } })
                            @Html.ValidationMessageFor(model => model.diagnostic, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="container">
                        <div class="form-group">
                            @Html.Label("Conduite à tenir", htmlAttributes: new { @class = "control-label col-md-2" })

                            <div class="col-md-5">


                                <div >
                                    <label class="checkbox-inline">
                                        @*   @Html.RadioButtonFor(model => model.ConduiteTenir, "Prescription Medicale", new { id = "btn_Prescription" }) Préscription Médicale*@
                                        @Html.CheckBox("PrescMed", false) Préscription Médicale
                                    </label>
                                                                    </div>
                                    
                                <label class="checkbox-inline">
                                    @*   @Html.RadioButtonFor(model => model.ConduiteTenir, "Exploration Medicale", new { id = "btn_ExplorMed" }) Exploration Radiologique*@
                                    @Html.CheckBox("ExplorRadio", false) Exploration Radiologique


                                </label>
                                    @Html.TextAreaFor(model => model.ExplorRadioComment, 6, 70, new { htmlAttributes = new { style = " width:100%, max-width:100%", @id = "diagnostic" } })
                                    @Html.ValidationMessageFor(model => model.ExplorRadioComment, "", new { @class = "text-danger" })

                                

                                <label class="checkbox-inline">
                                    @*@Html.RadioButtonFor(model => model.ConduiteTenir, "Exploration Biologique", new { id = "btn_ExplorBio" })   Exploration Biologique*@
                                    @Html.CheckBox("ExplorBio", false) Exploration Biologique
                                </label>
                                    @Html.TextAreaFor(model => model.ExplorBioComment, 6, 70, new { htmlAttributes = new { style = " width:100%, max-width:100%", @id = "diagnostic" } })
                                    @Html.ValidationMessageFor(model => model.ExplorBioComment, "", new { @class = "text-danger" })

                                
                            </div>
                            <div class="col-md-3">
                               
                                <label class="checkbox-inline">
                                    @*@Html.RadioButtonFor(model => model.ConduiteTenir,"Transfert", new { id = "btn_Transfert" })   Transfert (Lettre de liaison)*@
                                    @Html.CheckBox("Transfert", false) Transfert (Lettre de liaision)
                                </label>
                                    @Html.TextAreaFor(model => model.TransfertComment, 6, 70, new { htmlAttributes = new { style = " width:100%, max-width:100%", @id = "diagnostic" } })
                                    @Html.ValidationMessageFor(model => model.TransfertComment, "", new { @class = "text-danger" })

                                
                            </div>
                            <div class="col-md-3">
                              <label class="checkbox-inline">
                                        @*@Html.RadioButtonFor(model => model.ConduiteTenir, "Hospitalisation", new { id = "btn_hospital" })   Hospitalisation*@
                                      @Html.CheckBoxFor(model=>model.Hospitalisation, false) Hospitalisation
                              </label>
                                    @Html.TextAreaFor(model => model.HospitalComment, 6, 70, new { htmlAttributes = new { style = " width:100%, max-width:100%", @id = "diagnostic" } })
                                    @Html.ValidationMessageFor(model => model.HospitalComment, "", new { @class = "text-danger" })
                            </div> 

                            <div class="col-md-3">
                                <label class="checkbox-inline">
                                    @*<input type="checkbox" value="Imprimes CNAM" />*@
                                    @Html.RadioButtonFor(model => model.ConduiteTenir, "Imprimes CNAM", new { id = "btn_imprimCNAM" })Imprimés CNAM
                                </label>
                                <div class="editor-field">
                                    @Html.DropDownList("CNAM", new List<SelectListItem>
                                       {
                                           new SelectListItem{ Text="BS", Value="BS"},
                                           new SelectListItem{ Text="N01", Value="N01"},
                                           new SelectListItem{ Text="N02", Value="N02"},
                                           new SelectListItem{ Text="APCI", Value="APCI"},

                                       }, "--- Séléctionner un élément ---", new { @class = "form-control" })
                                </div>
                            </div>


                            </div>

                        </div>
                        </div>

                  


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Créer" class="btn btn-success" /> |  <a href="@Url.Action("Index", "Consultations")" class="btn btn-default">
                                <i class="glyphicon glyphicon glyphicon-chevron-left"></i>
                                <span>
                                    <strong>Retour</strong>
                                </span>
                            </a>
                        </div>
                    </div>
               
            }
            @*<div>
                    @Html.ActionLink("Retour", "Index")
                </div>*@
        </div>
    </section>
</div>

@section scripts{
    <script type="text/javascript">
        //$(document).ready(function () {
        //    $('input[id=RadioYes]').click(function () {
        //        if ($('input[name=RadioYes]:checked').val() === "Non") {
        //            $('#Code').hide();
        //        } else {
        //            $('#Code').show();
        //        }
        //    });
        //});
       
    </script>
}