@model WebApplication4.Models.Tables.Consultation

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Consultation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.UserType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.UserType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diagnostic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diagnostic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdPatients)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdPatients)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
