@model WebApplication4.Models.Tables.Consultation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Consultation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Patient.MatriculePatients)*@
            @Html.Label("Matricule du patient", htmlAttributes: new { @class = "control-label col-md-15" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.MatriculePatients)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.ApplicationUser.UserName)*@
            @Html.Label("Médecin", htmlAttributes: new { @class = "control-label col-md-15" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.UserName)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.diagnostic)*@
            @Html.Label("Diagnostic", htmlAttributes: new { @class = "control-label col-md-15" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diagnostic)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Ordonnance", "CreateOrdonnance", new { id = Model.ConsultationID }, new { @class = "btn btn-success" }) |
    @Html.ActionLink("Ordonnance pdf", "ReportEmployee", new { id = Model.ConsultationID }, new { @class = "btn btn-success" }) |

    @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-default" })
</p>
