@model WebApplication4.Models.Tables.Consultation
<section class="content-header">
    <h1>
        Infirmerie
        <small>Les consultations</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li>Consultations</li>
        <li class="active">Informations</li>
    </ol>
</section>

<!-- Main content -->
<div class="container-fluid">
    <section class="content">
        <div class="row">

            <div>
                <h4>Consultation</h4>
                <hr />
                <div>
                    <hr />
                    <table class="table table-striped table-dark">
                        <tr>
                            <td> @Html.Label("Matricule du patient", htmlAttributes: new { @class = "control-label col-md-15" })</td>
                            <td> @Html.DisplayFor(model => model.Patient.MatriculePatients)</td>
                            <td> @Html.Label("Médecin", htmlAttributes: new { @class = "control-label col-md-15" })</td>
                            <td>@Html.DisplayFor(model => model.ApplicationUser.UserName)</td>
                        </tr>
                        <tr>
                            <td>  @Html.Label("Nature de la visite", htmlAttributes: new { @class = "control-label col-md-15" })</td>
                            <td>   @Html.DisplayFor(model => model.natureVisite)</td>
                            <td>@Html.Label("Diagnostic", htmlAttributes: new { @class = "control-label col-md-15" })</td>
                            <td>@Html.Raw(HttpUtility.HtmlDecode(Html.DisplayFor(model => model.diagnostic).ToString()))</td>
                        </tr>

                        <tr>
                            <td>    @Html.Label("Conduite à Tenir", htmlAttributes: new { @class = "control-label col-md-15" })</td>
                            <td>    @Html.Raw(HttpUtility.HtmlDecode(Html.DisplayFor(model => model.ConduiteTenir).ToString()))</td>
                          
                        </tr>

                      
                    </table>

                </div>
            </div>
            <p>
                @*@Html.ActionLink("Ordonnance", "CreateOrdonnance", new { id = Model.ConsultationID }, new { @class = "btn btn-success" })*@
                <a href="@Url.Action("Edit", "Consultations",new { id = Model.ConsultationID, Model.idPatients })" class="btn btn-warning">
                    <i class="glyphicon glyphicon glyphicon-file"></i>
                    <span>
                        <strong>Modifier</strong>
                    </span>
                </a>
                @*<a href="@Url.Action("CreateRDV", "Consultations",new { id = Model.ConsultationID })" class="btn btn-primary">
                    <i class="glyphicon glyphicon glyphicon-file"></i>
                    <span>
                        <strong>Lettre au confrère</strong>
                    </span>
                </a>|*@
                @*@Html.ActionLink("Ordonnance pdf", "ReportEmployee", new { id = Model.ConsultationID }, new { @class = "btn btn-success" }) |*@
                @*@Html.ActionLink("Retour", "Index", new { @class = "btn btn-default" })*@
                |
                <a href="@Url.Action("Index", "Consultations")" class="btn btn-default">
                    <i class="glyphicon glyphicon glyphicon-chevron-left"></i>
                    <span>
                        <strong>Retour</strong>
                    </span>
                </a>
            </p>
        </div>
    </section>
</div>