@model WebApplication4.Models.Tables.Consultation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Consultation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.UserType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.UserType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diagnostic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diagnostic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idPatients)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idPatients)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Ordonnance", "CreateOrdonnance", new { id = Model.ConsultationID }, new { @class = "btn btn-success" }) |
    @Html.ActionLink("Ordonnance pdf", "ReportEmployee", new { id = Model.ConsultationID }, new { @class = "btn btn-success" }) |

    @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-default" })
</p>
