@model IEnumerable<WebApplication4.Models.Tables.Consultation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUser.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient.PrenomPatient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diagnostic)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td> @Html.DisplayFor(modelItem => item.DateCreated, new { @value = DateTime.Today, @readonly = "readonly" })</td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Patient.PrenomPatient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diagnostic)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ConsultationID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ConsultationID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ConsultationID })
            @Html.ActionLink("Medicaments", "Medication", new { id = item.ConsultationID })
        </td>
    </tr>
}

</table>
