@model WebApplication4.Models.Tables.Consultation

@{
    ViewBag.Title = "Medication";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h2>Medication</h2>

<div>
    <h4>Consultation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient.NomPatient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.NomPatient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diagnostic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diagnostic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ConsultationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
