@model WebApplication2.Models.Tables.MedecinConventionne

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MedecinConventionne</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.specialite.SpecialiteName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.specialite.SpecialiteName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nameDoctors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nameDoctors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emailDoctors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emailDoctors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phoneDoctors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phoneDoctors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.picDoctor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.picDoctor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idDoctors }) |
    @Html.ActionLink("Back to List", "Index")
</p>
