@model IEnumerable<WebApplication4.Models.Tables.FileDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/adminlte/_mainLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateFile")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Patients.MatriculePatients)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patients.NomPatient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patients.PrenomPatient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Patients.MatriculePatients)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patients.NomPatient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patients.PrenomPatient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        
        <td>
            @Html.ActionLink("Download", "DownloadFile", new { Name = item.FileName })

        </td>


    </tr>
}

</table>
