@model PagedList.IPagedList<WebApplication4.Models.Tables.Product>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MedicamentsLayout/adminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p> @using (Html.BeginForm("Index", "TestProducts", FormMethod.Post))
{
    <div>
        @Html.Label("Medicament:")
        @Html.TextBox("searching")
        @*<input id="submit" type="submit" value="Rechercher" />*@
        <button type="submit" value="" class="btn btn-danger glyphicon glyphicon-search ">Rechercher</button> 
    </div>
}
<div class="row product-container" style="margin-top:2%">

    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
            <div class="thumbnail product-item" style="height:300px">

                <img class="img-responsive" title="Click to View Product detail"
                     style="cursor:pointer;height:160px;width:100%"
                     src="~/Uploads/@item.ProductImage" />

                <div class="caption">
                    <h5>@item.ProductName</h5>
                    <p> <p>
                        @if (item.Quantity > 0)
                        {
                        <p>Available</p>
                    }
                    else
                    {
                        <p>Not Available</p>
                    }
                    </div>
                    <div class="product-item-badge">
                        <p>
                            @if (item.IsFeatured == true)
                            {
                            <p>New</p>
                        }
                        else
                        {
                            <p>Old</p>
                        }
                        </div>
                        <div class="product-item-badge">
                            @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
                        </div>
                    </div>
                </div>


            }

</div>
<div class="pagination">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    sur @Model.PageCount --  @Html.PagedListPager(Model, page => Url.Action("Index", new { page}))
</div>