@model PagedList.IPagedList<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@using PagedList.Mvc;
<div class="row">
    <div class="col-sm-2">
        <p>
            @*@Html.ActionLink("Créer un nouveau Médecin Conventionné", "Create")*@
            <a href="@Url.Action("Create", "Roles")" class="btn btn-success">
                <i class="glyphicon glyphicon-plus"></i>
                <span>
                    <strong>Nouveau Rôle</strong>
                </span>
            </a>
        </p>
    </div>
    <div class="col-sm-8">

        @using (Html.BeginForm("Index", "Roles", FormMethod.Post))
        {
            <div>
                @Html.Label("Rôle:")
                @Html.TextBox("searching")
                @*<input id="submit" type="submit" value="Rechercher" />*@
                <button type="submit" value="" class="btn btn-warning glyphicon glyphicon-search " />
            </div>
        }
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.First().Name)*@
            @Html.ActionLink("Role", "Index", new { order = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })

        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                <a href="@Url.Action("Edit", "Roles",new { id = item.Id })" class="btn btn-warning">
                    <i class="glyphicon glyphicon-pencil"></i>
                    <span>
                        <strong></strong>
                    </span>
                </a>
                <a href="@Url.Action("Details", "Roles",new { id = item.Id })" class="btn btn-info">
                    <i class="glyphicon glyphicon-info-sign"></i>
                    <span>
                        <strong></strong>
                    </span>
                </a>

                <a href="@Url.Action("Delete", "Roles",new { id = item.Id })" class="btn btn-danger">
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>
                        <strong></strong>
                    </span>
                </a>
            </td>
        </tr>
    }

</table>

<div class="pagination">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    sur @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
