@model WebApplication4.Models.Tables.Medicaments
@{
    ViewBag.Title = "Album - " + Model.Title; }
<h2>@Model.Title</h2>
<p>
    <img alt="@Model.Title" src="~/Uploads/@Model.MedPic" class="thumbnail" style="width:100px; height:100px" />
</p>
<div id="album-details">
    <p>
        <em>Specialite:</em> @Model.specialite.SpecialiteName
    </p>
  
    <p>
        <em>Quantity:</em> @Model.quantity
    </p>
    <p class="button">
        @Html.ActionLink("Add to cart", "AddToCart",
"ShoppingCart", new { id = Model.MedID }, "")
    </p>
</div>