@model IEnumerable<WebApplication4.Models.Tables.RadioBio>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/adminlte/_mainLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Consultation.diagnostic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Consultation.diagnostic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RadioBioID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RadioBioID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RadioBioID })
        </td>
    </tr>
}

</table>
