@model WebApplication4.Models.ViewModels.MultipleData
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">

                <table class="table table-striped table-bordered table-hover" style="color:black; background-color:white">
                    <tbody></tbody>
                    @foreach (var item in Model.medConv)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.specialite.SpecialiteName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.nameDoctors)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.emailDoctors)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.phoneDoctors)
                            </td>


                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">

                <table class="table table-striped table-bordered table-hover" style="color:black; background-color:white">

                    @foreach (var item in Model.patient)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Usines.UsineName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MatriculePatients)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NomPatient)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PrenomPatient)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhonePatients)
                            </td>


                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">

                <table class="table table-striped table-bordered table-hover" style="color:black; background-color:white">

                    @foreach (var item in Model.specialites)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SpecialiteName)
                            </td>

                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">

                <table class="table table-striped table-bordered table-hover" style="color:black; background-color:white">

                    @foreach (var item in Model.usines)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UsineName)
                            </td>


                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>









