@model WebApplication4.Models.Tables.ShopCart.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/adminlte/_mainLayout.cshtml";
}

<section class="content-header">
    <h1>
        Infirmerie
        <small>Medicaments</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li>Medicaments</li>
        <li class="active">Supprimer</li>
    </ol>
</section>

<div class="container-fluid">
    <section class="content">
        <div class="row">
            <h2>Suppression de l'élément</h2>
            <h3>Vous êtes sûr de vouloir supprimer cet élément?</h3>
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ProductName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CodePCT)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CodePCT)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Categorie)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Categorie)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DenominationCI)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DenominationCI)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AP)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AP)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ImageFile)
                    </dt>

                    <dd>
                        @*@Html.DisplayFor(model => model.ImageFile)*@
                        <img src="@Url.Content("~/Uploads/"+@Model.ImageFile)" class="thumbnail" style="width:100px; height:100px" />
                    </dd>

                </dl>


                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
                        @*@Html.ActionLink("Retour", "Index")*@
                        <a href="@Url.Action("Index", "Produits")" class="btn btn-default">
                            <i class="glyphicon glyphicon glyphicon-chevron-left"></i>
                            <span>
                                <strong>Retour</strong>
                            </span>
                        </a>
                    </div>
                }
            </div>
        </div>
    </section>
</div>