@model WebApplication4.Models.Tables.ShopCart.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/adminlte/_mainLayout.cshtml";
}
<section class="content-header">
    <h1>
        Infirmerie
        <small>Medicaments</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li>Medicaments</li>
        <li class="active">Details</li>
    </ol>
</section>

<!-- Main content -->
<div class="container-fluid">
    <section class="content">
        <div class="row">
            <h2>Informations sur le medicament </h2>

            <div >

                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.Label("Nom du produit", new { @class = "control-label col-md-60" })
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NameProduct)
                    </dd>

                    <dt>
                        @Html.Label("Code Pharmaceutique", new { @class = "control-label col-md-30" })
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Code)
                    </dd>

                    <dt>
                        @Html.Label("Categorie V/I/E", new { @class = "control-label col-md-60" })
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Categorie)
                    </dd>

                    <dt>
                        @Html.Label("Denomination Commune Internationale", new { @class = "control-label col-md-60" })
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DenominationCI)
                    </dd>

                   

                    

                </dl>
            </div>
            <p>
                @*@Html.ActionLink("Modifier", "Edit", new { id = Model.IdPatients })*@

                <a href="@Url.Action("ProductIndex", "Medicaments")" class="btn btn-default">
                    <i class="glyphicon glyphicon glyphicon-chevron-left"></i>
                    <span>
                        <strong>Retour</strong>
                    </span>
                </a>
                @*@Html.ActionLink("Rendez-vous", "Appointements", new { id = Model.IdPatients })*@
            </p>
        </div>
    </section>
</div>
