@model IEnumerable<WebApplication4.Models.Tables.ShopCart.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/adminlte/_mainLayout.cshtml";
}

<section class="content-header">
    <h1>
        Infirmerie
        <small>Liste des médicaments</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li class="active">Médicaments</li>
    </ol>
</section>
<section class="content">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodePCT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categorie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DenominationCI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageFile)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodePCT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categorie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DenominationCI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AP)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.ImageFile)*@
                    <img src="@Url.Content("~/Uploads/"+item.ImageFile)" class="thumbnail" style="width:100px; height:100px" />
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id=item.ProductID }) |
                        @Html.ActionLink("Details", "Details", new { id=item.ProductID })|*@
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
                </td>
            </tr>
        }

    </table>
    </section>
