@model PagedList.IPagedList<WebApplication4.Models.Tables.ShopCart.Product>

@using PagedList.Mvc
@{
    ViewBag.Title = "SearchIndex";
    Layout = "~/Views/Shared/adminlte/_mainLayout.cshtml";
}


@using (@Html.BeginForm("SearchIndex", "Produits", FormMethod.Get))
{<p>
        DCI : @Html.DropDownList("movieGenre", "Tout")
        Produit: @Html.TextBox("SearchString")
        <input type="submit" value="Filter" />
        <hr />
    </p>
}
 <section class="content">
     
         <ul class="list-group">
             @foreach (var item in Model)
             {
             <li class="list-group-item">
                
                     <div class="content-title" style="font-family:'Agency FB'; font-size:14px; font-weight:bold;">
                         @item.NameProduct
                     </div>
                     <p class="content-body">
                         @item.DenominationCI
                     </p>
                   
                         <a href="@Url.Action("OrderNow", "ShoppingCart", new { id = item.ProductID})" class="btn btn-danger">
                             <i class="fa fa-arrow-circle-right"></i>
                             <span>
                                 <strong> Ajouter à la liste </strong>
                             </span>
                         </a>
                                </li>
             }
         </ul>

     <div class="clear"></div>
     Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount

     <div style="display:inline; padding:3px">
         @Html.PagedListPager(Model, page => Url.Action("SearchIndex", new { page = page }))
     </div>
     </section>
