@model WebApplication4.Models.Tables.ShopCart.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/adminlte/_mainLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodePCT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodePCT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categorie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DenominationCommInter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DenominationCommInter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
