@model WebApplication4.Models.Tables.Medicine.tbl_product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pro_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pro_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pro_image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_image)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.pro_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
